@import "src/styles/breakpoint";
@import "src/styles/colors";
@import "src/styles/spacing";

.container {
  padding: $spacing-lg;

  @media (min-width: $breakpoint-mobile) {
    padding: $spacing-xxl;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.title {
  color: $gray700;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: $spacing-xxl;
  text-align: center;

  @media (min-width: $breakpoint-mobile) {
    font-size: 2rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}
