@import "src/styles/breakpoint";
@import "src/styles/colors";
@import "src/styles/spacing";

.profile {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  align-items: center;

  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.profile-image {
  border-radius: 50%;
  width: 192px;
  height: 192px;
  object-fit: cover;
}

.profile-name {
  color: $gray500;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: $spacing-sm;

  @media (min-width: $breakpoint-mobile) {
    font-size: 2rem;
  }
}

.profile-specialization {
  color: $blue500;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.profile-city {
  font-size: 1.25rem;
  span {
    color: lighten($gray500, 32%);
  }
}

.professional-rating {
  display: flex;
  align-items: center;
  margin: $spacing-md 0;
}

.professional-reviews {
  color: $gray500;
  margin-left: $spacing-sm;
}

.professional-price {
  color: $gray500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.professional-session-duration {
  color: $gray500;
  font-size: 1rem;
  font-weight: 700;
}

.profile-description {
  font-size: 1.25rem;
  line-height: 1.5;
}
