<section *ngIf="professional" class="profile">
  <div class="profile-info">
    <img class="profile-image" [src]="professional.profileImage" alt="" />
    <div>
      <h1 class="profile-name">{{ professional.name }}</h1>
      <div>
        <span class="profile-specialization">{{ professional.specialization }}</span>
        <span  *ngIf="professional.city" class="profile-city">
          <span> | </span>
          {{ professional.city }}
        </span>
      </div>
      <div class="professional-rating">
        <div>{{ professional.rating }} stars</div>
        <div class="professional-reviews">({{ professional.reviewsAmount }} reviews)</div>
      </div>
      <div>
        <span class="professional-price">{{ professional.price.value | currency: professional.price.currency }}</span>
        <span class="professional-session-duration">&nbsp;/ {{ professional.price.duration | secondsToMinutes }}</span>
      </div>
    </div>
  </div>
  <div class="profile-description">{{ professional.description }}</div>
</section>

<span *ngIf="!professional">Carregando...</span>
