@import "src/styles/breakpoint";
@import "src/styles/colors";
@import "src/styles/spacing";

.profile {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.profile-image {
  border-radius: 50%;
  width: 192px;
  height: 192px;
  object-fit: cover;
}

.profile-name {
  color: $gray500;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: $spacing-sm;
}

.profile-specialization {
  color: $blue500;
  font-weight: 700;
  text-transform: uppercase;
}

.profile-city {
  span {
    color: lighten($gray500, 32%);
  }
}

.profile-description {
  font-size: 1.25rem;
}
