@import "src/styles/breakpoint";
@import "src/styles/spacing";

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  padding: $spacing-lg;

  @media (min-width: $breakpoint-tablet) {
    padding: $spacing-xxl;
    gap: $spacing-xl;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.profile {
  flex: 2;

  @media (min-width: $breakpoint-tablet) {
    flex: 3;
  }
}

.schedule {
  flex: 2;
}
