<div *ngIf="professional" class="container">
  <app-professional-profile
    class="profile"
    [professional]="professional"
  ></app-professional-profile>
  <app-scheduling
    class="schedule hidden-mobile"
    [limit]="4"
    [professionalId]="professional.id"
    (scheduleEvent)="schedule($event)"
  ></app-scheduling>
  <app-scheduling
    class="schedule hidden-desktop" 
    [limit]="1"
    [professionalId]="professional.id"
    (scheduleEvent)="schedule($event)"
  ></app-scheduling>
</div>
